# gitignore file

# default build and install directories
/build*
/install*

# Editors, IDEs
/.idea/
/cmake-build-*
/.vscode
**/*~
**/\#*

/compile_commands.json

/**/__pycache__
/**/*.pyc
/**/*.mypy*
/**/.idea
/**/venv
